extends layout

block content
  h1= title
  form#formUserAdd(name="userAdd",method="post",action="/userAdd")
    input#inputUserName(type="text", placeholder="username", name="username")
    input#inputUserEmail(type="text", placeholder="e-mail", name="useremail")
    button#btnSubmit(type="submit") submit
